/*intro.scss*/

.intro{
	height:100vh;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	background: black;

	@media (min-width: 450px) {
		height:auto;
	}

	@media (min-width: 900px) {
		flex-direction:row;
		flex-wrap:nowrap;
	}
}

.intro__title{
	color:white;
	font-size: 2.2em;
	text-align: center;
	margin-top:8vh ; 
	font-family:"Space";
}

.intro__subtitle{
	color:white;
	font-size: 1.3em;
	text-align: center;
	margin:2vh;
	font-family:"LemonLight";
	@media (min-width: 600px) {
		font-size:1.8em;
	}

	@media (min-width: 900px) {
		display: none;
	}
}
.intro__title--subtitle{
	display:none;
	@media (min-width: 900px) {
		display:flex;
	}
}
.intro__boot{
	height: auto;
	max-width:100%;
	@media (min-width: 600px) {
		width:80vw;
		height:80vh;
	}

	@media (min-width: 900px) {
		max-width:50vw;
		margin-left:5vw;
	}

	@media (min-width: 1400px) {
		max-width:40vw;
	}
}