@font-face{
	font-family:"Space";
	src:url("./../fonts/SpaceAge.ttf") format("truetype");
}

@font-face{
	font-family:"Lemon";
	src:url("./../fonts/LemonMilk.otf") format("opentype");
}

@font-face{
	font-family:"LemonLight";
	src:url("./../fonts/LemonMilklight.otf") format("opentype");
}

@font-face{
	font-family:"Nasa";
	src:url("./../fonts/Nasalization.ttf") format("truetype");
}