@import'vendors/reset.scss';
@import'config/fonts.scss';
@import'config/mixins.scss';
@import'blocs/intro.scss';
@import'blocs/retention.scss';
@import'blocs/parallax.scss';
@import'blocs/lacing.scss';
@import'blocs/advantages.scss';
@import'blocs/footer.scss';

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	list-style: none;
}

body{
	background-color:black;
}

